@import 'tailwindcss';

@source "../**/*.{js,jsx,ts,tsx,mdx}";

@import 'fumadocs-ui/css/vitepress.css';
@import 'fumadocs-ui/css/preset.css';


@theme {
    --animate-markee-scroll: markee-scroll;
    --animate-markee-scroll-hidden: markee-scroll-hidden;

    @keyframes markee-scroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }

      @keyframes markee-scroll-hidden {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
      }
}



@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0% 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}


@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .abs-center {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .animate-spin-slow {
        animation: spin 3s linear infinite;
    } 
  }